body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: darkgreen;
}

h1 {
    font-size: 5em;
}

h2 {
	font-size: 25px;
	color: white;
}

h3 {
	font-size: 15s;	
}

b {
	font-size: 2em;
	border-bottom: 2px solid black;
}



.container{
    display: grid;
    grid-template-columns: 45% 45%;
    flex-wrap: wrap;
    grid-column-gap: 5%;
    grid-row-gap: 0%;
}

.container div{
    //the child
    padding: 10px;
    /*margin-right: 3px;*/
    
    flex: 0 1 10em;
    // item property flex: flex-grow flex-shrink flex-basis;
}

.boxen{
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 480px) {
.container{
    display: grid;
    
    
    flex-wrap: wrap;
    grid-column-gap: 5%;
    grid-row-gap: 0%;
}

.container div{
    //the child
    padding: 10px;
    /*margin-right: 3px;*/
    border: 1px solid black;
    flex: 0 1 10em;
    // item property flex: flex-grow flex-shrink flex-basis;
}


}